table {
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
  align: center;
  
    border-radius: 10px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}

td{
  align: left;
border-radius: 0px;
}

h1 {
  color:#4CAF50;
  text-align: center;
}

h3 {
  color:#4CAF50;
  magin.left: 330px;
}

th {
  text-align: left; 
  color:steelblue
}

header{
    margin-left: 100px;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	
    overflow:hidden;
    border: solid #ccc 1px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;

}

#table td, #table th {
    border: 0px solid #ddd;
    padding: 25px;
	
}

#table tr:nth-child(even){
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: steelblue;
    color: white;
	    font-style: oblique;

}

.button {
    background-color: #108700; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	float:right;
}

ul {
 list-style-type: none;
}

#name{
 font-size: 25px;
 font: Arial, sans-serif	;
}

#label{
	text-align:right
}

.picture {
display: block;
margin-left: auto;
margin-right: auto;
padding: 2px;
text-align: center;
background-color: lightblue;
border: 1px solid #dbdbdbd;
border-radius: 10px;
}